h1{
    color: black;
    text-align: center;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
}

.hoverbild{
    display: block;
    margin-left: auto; 
    margin-right: auto;
    width: 100%;
    max-width: 500px;
    transition: 0.1s ease-in, 0.03s ease-out;
}

.hoverbild:hover{
    transform: scale(1.07);
}

.grid-container{
    display: grid;
    grid-template-columns: 500px 500px;
    gap: 10px 10px;
    justify-content: center;
}

.grid-item{
  padding: 20px;
  font-size: 20px;
}

.item1{
    grid-row: 1;
    grid-column: 1;
}

.item2{
    grid-row: 1;
    grid-column: 2;
}

.item3{
    grid-row: 2;
    grid-column: 1;
}

.item4{
    grid-row: 2;
    grid-column: 2;
}

.item5{
    grid-row: 3;
    grid-column: 1;
}

.item6{
    grid-row: 3;
    grid-column: 2;
}

@media (max-width: 1000px) { /* Justera max-width enligt dina behov */
    .grid-container {
        grid-template-columns: 1fr 1fr; /* Två kolumner som tar upp 50% av tillgängligt utrymme */
    }
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  